POSTGRES_DB=honest-sign
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

JIRA_URL=https://jira.predictor.su
JIRA_PERSONAL_TOKEN=
CONFLUENCE_URL=https://confluence.predictor.su
CONFLUENCE_PERSONAL_TOKEN=
